:root {
  --color-header: #1a1a27;
  --color-headings: #e8e8e8;
  --color-links: #d2d0db;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/* =============================== */
/* TYPOGRAPHY */

html {
  font-size: 62.5%;

  font-family: Arial, Helvetica, sans-serif, roboto;
}
body {
  font-size: 2rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}

p,
a {
  margin-top: 0;
  color: var(--color-links);
  font-size: 2rem;
  text-align: left;
  letter-spacing: 0.1rem;
  text-decoration: 0;
  transition: color 0.3s;
}
a:hover {
  color: #fff;
}
/* =================================== */
/* LISTS */
.list {
  list-style: none;
  padding-left: 0;
}
/* =================================== */
/* GRIDS */
.grid {
  display: grid;
  gap: 15px;
  align-items: flex-start;
  justify-items: center;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: 1fr 1fr;
  }
}

/* ============================== */
/* HERO component */
.hero {
  width: auto;
  height: auto;
  background: var(--color-header);
  padding: 2rem;
}
.banner {
  max-width: 200px;
  border-radius: 50%;
}

h1 {
  color: var(--color-headings);
  text-transform: uppercase;
  justify-self: center;
  text-align: center;
}
.image-container__item > h3 {
  color: var(--color-headings);
  font-weight: 400;
  text-align: center;
}

/* ======================================== */
/* NAVBAR component*/
.nav {
  background: var(--color-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.nav__list {
  width: 100%;
  margin: 0;
}
.nav__list a {
  font-size: 2.2rem;
}
.nav__item {
  padding: 0.7rem 2rem;
  border-bottom: 1px solid #222;
}

.nav__item:last-of-type {
  padding-bottom: 1.2rem;
}

/* LOGO component */
.logo {
  width: auto;
  max-height: 80px;
  margin: 0 1.5rem 2rem 0;
}
.logo:hover {
  max-height: 81px;
}
.logo-container__brand {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  font-style: italic;
  font-size: 2.5rem;
  /* color: var(--color-links); */
  text-decoration: underline;
  cursor: pointer;
  color: #7565bb;
}
.logo-container__brand:hover {
  color: #8876d4;
}

/*ICON component in the NAVBAR*/

.icon-menu--dark {
  width: 40px;
  height: 40px;
  color: var(--color-headings);
  background: #686868;
  margin: 1.5rem 0.5rem;
  border-radius: 3px;
  /* box-shadow: 0 0 5px 2px #f3f3f3; */
  cursor: pointer;
}
.icon-menu--dark:hover {
  background: #837f7f;
  width: 41px;
  height: 41px;
}
/* Highlight the components on the dark background */

.highlighter {
  box-shadow: 0 0 5px 2px #f3f3f3;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav {
    display: grid;
    grid-template-columns: auto 1fr;
  }
  .nav__list {
    display: flex;
    justify-content: end;
  }
  .nav__list a {
    font-size: 1.6rem;
  }

  /* SETTING permament visibility when page is reload*/
  /*
  .nav__list.collapsible__content {
    max-height: 100%;
    overflow: hidden;
    opacity: 1;
  }
  */
}

/* Set toggler prop when menu is closed */

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

/* Toggler highlighted when menu is open*/

/* if (nav has a set-visibility class)
  apply .nav__toggler class */
.nav.set-visibility .nav__toggler {
  box-shadow: 0 0 5px 2.5px #f3f3f3;
  border-radius: 5px;
  opacity: 1;
}
/* ============================== */
/* IMAGE CONTAINER component / MAIN Section / */

.image-container {
  max-width: 850px;
  margin: 5rem auto;
  padding: 0;
}

.image-container__item img {
  width: 100%;
}

.box-shadow {
  box-shadow: 0 0 20px 10px #f3f3f3;
}

/* ===================================== */
/* COLLAPSIBLE COMPONENT */

.collapsible__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 1rem; */
}
.shevron {
  width: 30px;
  height: 30px;
  color: var(--color-headings);
  transform: rotate(-90deg);
  transition: 0.35s;
}

/* Set INVISIBILITY to the components 
1. Rotate shevron to make a smooth transition
2. Collapsible content is hidden:
*/

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.35s;
}
/* ==================================== */
/* Set VISIBILITY to the components

1. Define a new class for visibility:
    class = "set-visibility"
2. Rotate shevron to the (90deg) => right/bottom
3. Make div element with "collapsible__content" visible
*/
.set-visibility .collapsible__shevron {
  transform: rotate(0deg);
  transition: transform 0.35s;
}
.set-visibility .collapsible__content {
  max-height: 100%;
  opacity: 1;
}
/* ======================================== */
/* FOOTER component */

.footer {
  background: var(--color-header);
  color: var(--color-headings);
  justify-items: stretch;
  align-items: flex-start;
  gap: 0;
  margin: 0;
  padding: 2rem;
}
.collapsible__heading {
  margin: 0.5rem 2rem;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
  opacity: 0.6;
  cursor: pointer;
}
.collapsible__heading:hover {
  opacity: 0.8;
}
.footer a {
  opacity: 0.6;
}
.footer a:hover {
  opacity: 0.8;
}

.logo-container .copyright {
  font-size: 1.3rem;
  opacity: 0.5;
  text-align: center;
  letter-spacing: 0.3px;
  margin: 1.5rem 0;
}
.logo-container {
  display: grid;
  justify-items: center;
  align-items: center;
}
.logo-container > img {
  width: auto;
  max-height: 190px;
}
.logo-container > img:hover {
  max-height: 191px;
}
.collapsible.set-visibility .nav__toggler {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .footer {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 10px;
  }
  .footer a {
    font-size: 1.6rem;
  }
  .collapsible__shevron {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
  }
}
/* ================================== */
/* QUERY CONTAINER */

/*
.main--container,
.side-bar--container {
  container-type: inline-size;
}

@container (max-width: 500px) {
  .card {
    display: column;
  }
}
*/
