.reg-form {
  margin: 1rem;
}
.form {
  padding: 1.5rem;
  border: 1px solid gray;
}
.btn-primary {
  background: gray;
}
.btn-primary:focus {
  background: lightgray;
}
@media screen and (min-width: 768px) {
  .reg-form {
    width: 50%;
  }
}
