<!-- BRAND COMPONENT -->

<a class="logo-container__brand" href="#"
  ><img class="logo" src="/images/banner.webp" alt="logo" />
  <h4>My New Brand</h4>
</a>

<!-- New brand -->
<a class="logo-container__brand" href="#"
  ><img class="logo" src="/images/banner.webp" alt="logo" />
  <div>My New Brand</div>
</a>

<!-- Styles -->

<!-- 
.logo {
  width: auto;
  max-height: 80px;
  margin: 0 2rem 2rem 0;
}
.logo-container__brand {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
 -->
