<!-- FOOTER component -->
<footer class="footer grid">
  <div class="logo-container">
    <img src="/images/banner.png" alt="banner" />
    <p class="copyright">Copyright 2023&copy; Valeriy Borzak</p>
  </div>
  <div class="collapsible set-visibility">
    <header class="collapsible__header">
      <h3>Ionicons</h3>
      <ion-icon
        class="shevron collapsible__shevron"
        name="chevron-down-circle-outline"
      ></ion-icon>
    </header>
    <div class="collapsible__content">
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
    </div>
  </div>
  <div class="collapsible set-visibility">
    <header class="collapsible__header">
      <h3 class="collapsible__heading">Ionicons</h3>
      <ion-icon
        class="shevron collapsible__shevron"
        name="chevron-down-circle-outline"
      ></ion-icon>
    </header>
    <div class="collapsible__content">
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
    </div>
  </div>
  <div class="collapsible set-visibility">
    <header class="collapsible__header">
      <h3 class="collapsible__heading">Ionicons</h3>
      <ion-icon
        class="shevron collapsible__shevron"
        name="chevron-down-circle-outline"
      ></ion-icon>
    </header>
    <div class="collapsible__content">
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
    </div>
  </div>
  <div class="collapsible set-visibility">
    <header class="collapsible__header">
      <h3 class="collapsible__heading">Ionicons</h3>
      <ion-icon
        class="shevron collapsible__shevron"
        name="chevron-down-circle-outline"
      ></ion-icon>
    </header>
    <div class="collapsible__content">
      <div class="nav__item"><a href="#">Icons</a></div>
      <div class="nav__item"><a href="#">Icons</a></div>
    </div>
  </div>
</footer>
