<!-- Navbar -->
<nav class="nav grid--1x2 collapsible">
  <a href="#"><h4>Back To Main</h4> </a>
  <svg
    class="icon-menu--dark nav__toggler"
    xmlns="http://www.w3.org/2000/svg"
    height="24"
    viewBox="0 
      -960 960 960"
    width="24"
  >
    <path
      d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v
  -80h720v80
      H120Z"
    />
  </svg>

  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Item</a></li>
    <li class="nav__item"><a href="#">Item</a></li>
    <li class="nav__item"><a href="#">Item</a></li>
  </ul>
</nav>
